.contact-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 500px;
    width: 1005px;
    align-items: center;
}

.right-column {
    display: flex;
    position: relative;
    height: 301px;
}

.right-column p {
    position: absolute;
    width: 210px;
    top: 70px;
    left: 63px;
    font: 600 25px 'Montserrat';
}

.right-column div {
    display: flex;
}

.right-column .vector {
    width: 83px;
    height: 23px;
    position: absolute;
    left: 35%;
    top: 14%;
    background-image: url(./assets/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.right-column .one {
    position: absolute;
    left:20%;
    background-image: url(./assets/1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 130px;
}

.form {
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form input {
    height: 20%;
    width: 100%;
}

.delivery {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 300px;
    width: 1005px;
    align-items: center;
}

.right-column .two {
    position: absolute;
    left:20%;
    background-image: url(./assets/2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 130px;
}


